.container-lg {
    display: flex;
    justify-content: space-between;
    
}
label{
    
    border-radius: 12%;
    width: 90px;
    text-align: center;
}

#passou{
    position: relative;
    left: 4%;
}
#data{
    position: relative;
    left: 12%;
}

button{
    position: relative;
    left: 3.5%;
    background-color: green;
    border-radius: 12px;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.informacao{
    background-color:teal;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
}


input[type="text"] {
    width: 90%;
    margin: 5px;
}

button {
    margin: 10px;
    width: fit-content;
    height: fit-content;
}