body{
    background-image: url(assets/imagens/fabrica.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.table-bordered #tbody{
    background-color:white;
}